img.thumbnailImage
{
    border: 1px solid #eff0f0;
}
.dxdvItem
{
    border-style: none;
    background-color: transparent;
    vertical-align: bottom !important;
    padding: 5px;
    height: 110px;
    width: 110px !important;
    text-align: center;
}
div.imageWrapper
{
   display: table-cell;
   vertical-align: bottom;
   width: 110px;
   height: 110px; 
}
.dxdvPagerPanel
{
    background-color: #F3F3F3;
}
.dxdvControl td.dxdvCtrl
{
    padding: 0px;
}
.dxpcControl
{
    border-style: none;
}
.dxpcContentPaddings
{
    padding: 8px;
}
.dxpcContent
{
    background-color: #2A3333;
    color: White;
}